@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #181717;
    --cor-secundaria: #f6f5f6;
    --cor-terciaria: #22d4fd;
    --cor-quartenaria: #006c85;
    --cor-quintenaria: #000000;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat" sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    background-size: contain;
}
.cabecalho{
    padding: 2% 0 0 10%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
   
}
.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.cabecalho__menu__link:hover {
    transform: scale(1.1);
    border-radius: 1px;
    outline: 1px solid var(--cor-quartenaria);
    outline-offset: 16px;
    
}

.apresentacao {
    padding: 3% 10%;
    display: flex;
    align-items: center;
}
.apresentacao__titulo {
    font-family: var(--fonte-primaria);
    font-size: 36;
}
.apresentacao__projetos {
    
}

.rodape {
    padding: 24px;
    color: var(--cor-quintenaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}